html, body
  height  100%
  overflow hidden

.main
  padding 0px
  height 100%
  
.interface
  z-index 100
  
a
  color rgb(41, 121, 255)
  cursor pointer

  &:hover
    color black
    text-decoration none  

