informations
  display block
  border-radius 0px
  margin 5px 0px !important
  position relative

  & > div
    margin 0px !important
  
  h1
   	font-size: 20px;
    margin-top: 0px;

    small
      display inline-block
      margin-left 10px
      font-size small
    
      &.wikiLink
        float right
        margin-top 6px

  i
    position absolute
    top 5px
    right 5px

    &.mdi-checkbox-marked-circle
      color #cddc39
  
    &.mdi.mdi-close-circle
      color #e91e63  

    &.mdi.mdi-alert
      color #ff9800

  tr
    td
      vertical-align top

      &:first-child
        font-weight bold
        white-space nowrap
        padding-right 10px