.well
  .color.color-0
  .legend {{ 'climate.polar' | translate }}
  .color.color-1
  .legend {{ 'climate.mountain' | translate }}
  .color.color-2
  .legend {{ 'climate.continental' | translate }}
  .color.color-3
  .legend {{ 'climate.coast' | translate }}
  .color.color-4
  .legend {{ 'climate.coast-hot' | translate }}
  .color.color-5
  .legend {{ 'climate.tropical-dry' | translate }}
  .color.color-6
  .legend {{ 'climate.tropical-wet' | translate }}
  .color.color-7
  .legend {{ 'climate.equatorial' | translate }}
  .color.color-8
  .legend {{ 'climate.dry' | translate }}  