.well
  b Delgènor
  br
  a(ng-click='getInformations(122)')
    | Dingal 
    small (capitale)
  br
  a(ng-click='getInformations(346)') Salinel
  br
  a(ng-click='getInformations(347)') Ossegore
  br
  br
  b Elgarodie
  br
  a(ng-click='getInformations(113)')
    | Gamorine 
    small (capitale)
  br
  a(ng-click='getInformations(114)') Brîne
  br
  br
  b Jurian
  br
  a(ng-click='getInformations(112)') 
    | Couvier 
    small (capitale)
  br
  a(ng-click='getInformations(314)') Octobove
  br
  a(ng-click='getInformations(316)') Verdaillez
  br
  br
  b Saranor
  br
  a(ng-click='getInformations(328)') Rynrena
  br
  br
  b Telnekkie
  br
  a(ng-click='getInformations(101)') Alisse
  br
  br
  b Magierg
  br
  a(ng-click='getInformations(424)') Touvala