search
  position absolute
  left 10px
  top 10px
  padding 0px
  width 100%
  max-width 472px

  input
    width 100%
    padding 5px 10px
    border 1px solid white
    border-radius 0px
    
    &.highlight
      border 1px solid rgb(97, 97, 97)

  .mdi-close-circle
    color gray
    position absolute
    top 8px
    right 5px
    cursor pointer
  
.dropdown-menu
  position static !important
  float none
  border-radius 0px
  width 100%
  max-width 472px
  padding 0px
  margin-top 5px

  & > .active > a, & > .active > a:hover
    background-color rgb(41, 121, 255)

  a
    padding 3px
    cursor pointer

  li:not(.active) a:hover
    color black !important
    background-color #eee !important

  i
    font-size 20px
    display inline-block
    margin-right 5px
    
  address
    margin 0px 0px 0px 5px
    display inline-block
    font-size: 12px
    color: #aaa    
  
toolbar
  position absolute
  top 10px
  right 10px

  .btn
    margin-left 10px !important

  .mdi
    display inline-block
    color white
    font-size 24px
    top -12px !important

    &.mdi-sync
      -webkit-transform-origin 50% 50%
      transform-origin 50% 50%
      -ms-transform-origin 50% 50%
      -webkit-animation  spin .7s infinite linear
      -moz-animation  spin .7s infinite linear
      -o-animation spin .7s infinite linear
      animation spin .7s infinite linear

  .popover
    position absolute
    width 100%
    max-width 472px
    display block
    left auto
    right: 10px;
    top 75px

highres
  position absolute
  top 75px
  right 10px
  width 200px

climate
  position absolute
  top 75px
  right 10px
  width 200px

  .well
    &:after
      content ' '
      display block
      clear both

  .color
    float left
    width 30px
    height 30px
    margin-right 10px
    margin-bottom 5px

  .legend
    float left
    width 122px
    height 35px

  .color-0
    background-color: #eee
  
  .color-1
    background-color: #7f7367
  
  .color-2
    background-color: #baa4d0
  
  .color-3
    background-color: #8389c0
  
  .color-4
    background-color: #FED976
    
  .color-5
    background-color: #dfedb5
  
  .color-6
    background-color: #b5edce
  
  .color-7
    background-color: #55a578
  
  .color-8
    background-color: #FD8D3C

@-moz-keyframes spin 
  from 
    -moz-transform rotate(0deg)
  to 
    -moz-transform rotate(-360deg)

@-webkit-keyframes spin
  from
    -webkit-transform rotate(0deg)
  to
    -webkit-transform rotate(-360deg)

@keyframes spin
  from
    transform rotate(0deg)
  to
    transform rotate(-360deg)

introduction
  .popover
    position absolute
    width 100%
    max-width 472px
    display block
    left auto
    top auto

    .mdi
      position absolute
      right 0px
      top 50%
      margin-top -18px
      font-size 36px
      cursor pointer
      color white
    
      &:hover {
        font-size 40px
        margin-top -20px  
        right -2px  
      }

    .mdi-close-circle-outline
      font-size 26px
      top 0px
      margin-top 0px

      &:hover {
        font-size 30px
        margin-top 0px  
        top -2px  
        right -2px  
      }

    .popover-content
      padding-right 36px

  #introduction-welcome
    position absolute
    top 50%
    left 50%
    width: 420px;
    height: 325px;	
    margin-left: -210px;
    margin-top: -162px;
    text-align: center;

    h1
      margin-top 5px

    .mdi-map
      font-size 52px

  #introduction-search
    top 47px
    left 10px

  #introduction-climate
    top 75px
    right 10px

  #introduction-distance
    top 75px
    right 10px

  #introduction-highres
    top 75px
    right 10px

.leaflet-control-measure
  display none

.layer-measurearea
  fill none

@media only screen and (max-width : 767px)

    search
      width calc(100% - 20px)
      min-width none
    
    toolbar, introduction, .leaflet-control-attribution, informations, images-box
      display none !important